.bold-title {
  font-family: MetricBold, Arial, sans-serif;
  font-size: 38px;
  color: #000;
  margin: 0;
}

@media screen and (max-width: 576px) and (min-width: 280px) {
  .bold-title {
    font-size: 26px;
  }
}

.subtitle {
  font-family: MetricRegular, Arial, sans-serif;
  color: #000;
  margin: 5px 0;
  font-size: 26px;
  line-height: 1.3;
}

@media screen and (max-width: 576px) and (min-width: 280px) {
  .subtitle {
    font-size: 22px;
    margin-top: 30px;
  }
}

.background-blue {
  background-color: #4A9BED;
}

.checked {
  color: #FCAF33;
}

.green-button {
  display: inline-block;
  font-family: MetricBold;
  margin-top: 35px;
  background-color: #79DB74;
  color: #000;
  height: 35px;
  line-height: 43px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  padding: 0 38px;
  transition: .3s ease-in;
  text-decoration: none !important;
  cursor: pointer;
}

.green-button:hover {
  background-color: #6A6562;
  color: #fff;
  text-decoration: none;
}

.green-button:focus, .green-button:active {
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
}

@font-face {
  font-family: MetricBold;
  src: url(../fonts/Metric-Bold.otf);
}

@font-face {
  font-family: MetricSemiBold;
  src: url(../fonts/Metric-SemiBold.otf);
}

@font-face {
  font-family: MetricRegular;
  src: url(../fonts/Metric-Regular.otf);
}

@font-face {
  font-family: MetricMedium;
  src: url(../fonts/Metric-Medium.otf);
}

.header-top-section {
  width: 100%;
  height: 28px;
  background: #eceae4;
}

header {
  width: 100%;
  height: 95px;
  background-color: #fff;
}

.header-image img {
  width: 100%;
}

.build-workspaces {
  padding-top: 120px;
  text-align: center;
}

.build-workspaces .logo-parent {
  margin: 130px 0 98px;
}

.build-workspaces .logo-parent img {
  width: 260px;
  height: 260px;
}

.chromebook-certified {
  text-align: center;
}

.chromebook-certified .products-parent {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chromebook-certified .products-parent .product-item {
  text-align: center;
}

.chromebook-certified .products-parent .product-item .circle {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.chromebook-certified .products-parent .product-item .circle:hover img {
  transform: scale(1.15);
}

.chromebook-certified .products-parent .product-item .circle img {
  width: 80%;
  border-bottom-left-radius: 47%;
  border-bottom-right-radius: 48%;
  transition: transform .5s ease;
}

.chromebook-certified .products-parent .product-item .item-title {
  font-family: MetricBold;
  font-size: 35px;
  line-height: normal;
  margin: 61px 0 20px;
  color: #000;
}

.chromebook-certified .products-parent .product-item .item-subtitle {
  font-family: MetricRegular;
  font-size: 20px;
  line-height: inherit;
  color: gray;
}

.chromebook-certified .product-childs-parent {
  margin-top: 35px;
  text-decoration: none;
}

.chromebook-certified .product-childs-parent:active, .chromebook-certified .product-childs-parent:focus, .chromebook-certified .product-childs-parent:visited, .chromebook-certified .product-childs-parent:hover {
  text-decoration: none !important;
}

.chromebook-certified .product-childs-parent .product-item {
  text-align: center;
}

.chromebook-certified .product-childs-parent .product-item .item-title {
  font-family: MetricBold;
  font-size: 20px;
  line-height: normal;
  margin: 10px 0 20px;
  transition: .3s;
  color: #000;
}

.chromebook-certified .product-childs-parent .product-item .product-image {
  position: relative;
}

.chromebook-certified .product-childs-parent .product-item .product-image:after {
  content: "";
  width: 35px;
  background-image: url(../img/www-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  height: 35px;
}

.chromebook-certified .product-childs-parent .product-item .product-image img {
  width: 100%;
  transition: transform .5s ease;
}

.chromebook-certified .product-childs-parent .product-item .start-parent {
  font-size: 25px;
  color: #E6E5E1;
}

.chromebook-certified .product-childs-parent .product-item .price-parent {
  font-family: MetricBold;
  font-size: 19px;
  margin: 20px 0;
  transition: .3s;
  color: #000;
}

.chromebook-certified .product-childs-parent .product-item .color-parent {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

.chromebook-certified .product-childs-parent .product-item .color-parent .color-item {
  width: 38px;
  height: 38px;
  background: #fff;
  border: 2px solid #E4E2DE;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chromebook-certified .product-childs-parent .product-item .color-parent .color-item .black {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-color: #000;
  border-radius: 50%;
}

.chromebook-certified .product-childs-parent .product-item:hover {
  text-decoration: none;
}

.chromebook-certified .product-childs-parent .product-item:hover .item-title,
.chromebook-certified .product-childs-parent .product-item:hover .price-parent {
  color: #93D756;
}

.chromebook-certified .product-childs-parent .product-item:hover img {
  transform: scale(1.05);
}

.banner {
  margin: 120px 0;
}

.banner img {
  width: 100%;
}

.compatible {
  text-align: center;
}

.compatible .compatible-parent {
  margin-top: 90px;
}

.compatible .compatible-parent .compatible-item {
  position: relative;
}

.compatible .compatible-parent .compatible-item:last-child .circle img {
  width: 120%;
}

.compatible .compatible-parent .compatible-item .circle {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-color: #ebe9e5;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compatible .compatible-parent .compatible-item .circle img {
  width: 105%;
  transition: transform .5s ease;
}

.compatible .compatible-parent .compatible-item .circle:hover img {
  transform: scale(1.1);
}

.compatible .compatible-parent .compatible-item .compatible-item-title {
  font-family: MetricBold;
  line-height: 1.1;
  margin-top: 25px;
  font-size: 25px;
}

.compatible .view-all-parent {
  text-align: center;
  margin-top: 60px;
}

.how-to-buy {
  text-align: center;
  margin-top: 275px;
}

.how-to-buy .companies-parent {
  margin-top: 100px;
}

.how-to-buy .companies-parent .comp-item {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: transform .5s ease;
}

.how-to-buy .companies-parent .comp-item:hover {
  transform: scale(1.1);
}

.brochure {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  color: #fff;
  text-align: center;
  line-height: normal;
}

.brochure .gray-block,
.brochure .green-block {
  padding: 55px 100px;
}

.brochure .green-block {
  flex: 1;
  background-color: #73D44A;
}

.brochure .gray-block {
  flex: 1;
  background-color: #A69C94;
}

.brochure .title {
  font-family: MetricSemiBold;
  line-height: 1;
  font-size: 33px;
}

.brochure .subtitle {
  font-family: MetricRegular;
  line-height: 1.5;
  font-size: 24px;
  margin-top: 40px;
  color: #fff;
}

.brochure .subtitle a {
  color: inherit;
}

.brochure .view-brochure {
  font-family: MetricRegular;
  display: inline-block;
  font-size: 24px;
  color: #000;
  text-decoration: underline;
  margin-top: 40px;
}

.brochure .view-brochure:hover {
  text-decoration: none;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #000;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .brochure {
    gap: 0px;
  }
  .brochure .green-block, .brochure .gray-block {
    padding: 55px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .brochure {
    gap: 0;
  }
  .brochure .green-block, .brochure .gray-block {
    padding: 40px;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .brochure {
    gap: 0;
    flex-direction: column;
  }
  .brochure .green-block, .brochure .gray-block {
    flex: initial;
    padding: 10px;
  }
}

@media screen and (max-width: 576px) and (min-width: 280px) {
  .header-top-section {
    display: none;
  }
  .header-image {
    position: relative;
  }
  .header-image:after {
    content: '';
    position: absolute;
    left: 42%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 34px solid #e8e8e8;
    clear: both;
  }
  .build-workspaces {
    padding-top: 65px;
  }
  .build-workspaces .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .build-workspaces .logo-parent {
    margin: 0 0 65px;
  }
  .build-workspaces .logo-parent img {
    width: 155px;
    height: 155px;
  }
  .chromebook-certified .bold-title {
    margin-top: 35px;
  }
  .compatible .circle {
    margin-bottom: 20px;
  }
  .compatible .compatible-parent .compatible-item {
    margin-bottom: 20px;
  }
  .how-to-buy {
    margin-top: 100px;
  }
  .brochure {
    gap: 0;
    flex-direction: column;
    margin-top: 140px;
  }
  .brochure .green-block, .brochure .gray-block {
    flex: initial;
    padding: 50px 10px;
  }
  .brochure .green-block {
    position: relative;
  }
  .brochure .green-block:after {
    content: '';
    position: absolute;
    left: 42%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 34px solid #73D44A;
    clear: both;
  }
  .brochure .title {
    font-size: 25px;
  }
  .brochure .subtitle {
    font-size: 20px;
  }
  .brochure .view-brochure {
    font-size: 20px;
  }
}

.note .subtitle {
  font-family: MetricRegular, Arial, sans-serif;
  color: #000;
  margin: 5px 0;
  font-size: 26px;
  line-height: 1.3;
  margin-top: 55px;
  margin-bottom: 55px;
}

.contact-us .background-image-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../img/contact-us-wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-us .background-image-wrapper .title {
  margin-top: 180px;
  font-size: 52px;
  font-family: MetricBold, Arial, sans-serif;
}

.contact-us .background-image-wrapper p {
  text-align: center;
  font-size: 24px;
  font-family: MetricRegular;
}

.contact-us .two-cols-parent {
  margin-top: 55px;
  color: #333;
}

.contact-us .two-cols-parent .title {
  margin-top: 0;
  font-family: MetricBold, Arial, sans-serif;
}

.contact-us .two-cols-parent .subtitle {
  font-family: MetricBold, Arial, sans-serif;
  font-size: 16px;
}

.contact-us .two-cols-parent p {
  font-family: MetricRegular;
  line-height: 1.8;
  font-size: 14px;
}

.contact-us .two-cols-parent .icon-text {
  font-family: MetricBold, Arial, sans-serif;
  font-size: 15px;
}

.contact-us .two-cols-parent .icon-text svg {
  margin-right: 10px;
}

.contact-us .two-cols-parent .connect-with-us-wrapper {
  padding: 70px 95px;
  width: 100%;
  height: auto;
  background-color: #F2F2F2;
  position: absolute;
  top: -70px;
}

@media (min-width: 992px) {
  .contact-us .two-cols-parent .connect-with-us-wrapper .col-md-6:nth-child(even) {
    padding-left: 7px;
  }
  .contact-us .two-cols-parent .connect-with-us-wrapper .col-md-6:nth-child(odd) {
    padding-right: 7px;
  }
}

@media (max-width: 800px) {
  .contact-us .two-cols-parent .connect-with-us-wrapper {
    width: calc(100% - 30px);
  }
}

.contact-us .two-cols-parent .connect-with-us-wrapper input, .contact-us .two-cols-parent .connect-with-us-wrapper textarea {
  color: #ABABAB;
  width: 100%;
  font-family: MetricMedium;
  border: 1px solid transparent;
  font-size: 15px;
  transition: .3s ease-in-out;
  outline: none;
  border-radius: 0;
}

.contact-us .two-cols-parent .connect-with-us-wrapper input {
  height: 55px;
  padding: 19px 15px 12px;
  margin-bottom: 25px;
}

.contact-us .two-cols-parent .connect-with-us-wrapper input:focus {
  border-color: #535353;
}

.contact-us .two-cols-parent .connect-with-us-wrapper textarea {
  height: 120px;
  padding: 35px 15px;
  resize: none;
}

.contact-us .two-cols-parent .connect-with-us-wrapper textarea:focus {
  border-color: #535353;
}

.contact-us .two-cols-parent .connect-with-us-wrapper input::placeholder,
.contact-us .two-cols-parent .connect-with-us-wrapper textarea::placeholder {
  font-size: 15px;
  color: #ABABAB;
}

.contact-us .two-cols-parent .connect-with-us-wrapper .send-button-parent {
  text-align: left;
}

@media screen and (max-width: 767px) and (min-width: 280px) {
  .contact-us .background-image-wrapper .title {
    font-size: 30px;
  }
  .contact-us .background-image-wrapper p {
    font-size: 20px;
  }
  .contact-us .two-cols-parent .connect-with-us-wrapper {
    width: calc(100% - 30px);
    padding: 30px;
    top: 0;
    margin-bottom: 35px;
  }
  .contact-us .two-cols-parent .connect-with-us-wrapper .send-button-parent {
    text-align: center;
  }
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-10 {
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */