.build-workspaces {
    padding-top: 120px;
    text-align: center;

    .logo-parent {
        margin: 130px 0 98px;
        
        img{
            width: 260px;
            height: 260px;
        }
    }
}