.chromebook-certified {
    text-align: center;

    .products-parent {
        margin-top: 90px;
        display: flex;
        justify-content: center;
        align-items: center;

        .product-item {
            text-align: center;
    
            .circle {
                width: 330px;
                height: 330px;
                border-radius: 50%;
                margin: 0 auto;
    
                display: flex;
                justify-content: center;
                align-items: flex-end;
    
                overflow: hidden;
    
                &:hover img {
                    transform: scale(1.15)
                }
    
                img {
                    width: 80%;
                    border-bottom-left-radius: 47%;
                    border-bottom-right-radius: 48%;
                    transition: transform .5s ease;
                }
            }
    
            .item-title {
                font-family: MetricBold;
                font-size: 35px;
                line-height: normal;
                margin: 61px 0 20px;
                color: #000;
            }
    
            .item-subtitle {
                font-family: MetricRegular;
                font-size: 20px;
                line-height: inherit;
                color: gray;
            }
    
            .show-me-button {
                font-family: MetricBold;
                margin-top: 35px;
                background-color: #79DB74;
                color: #000;
                height: 35px;
                line-height: 43px;
                font-weight: 600;
                border: none;
                outline: none;
                border-radius: 20px;
                font-size: 17px;
                padding: 0 38px;
            }
        }
    }

    .product-childs-parent {
        margin-top: 35px;

        .product-item {
            text-align: center;

            .item-title {
                font-family: MetricBold;
                font-size: 20px;
                line-height: normal;
                margin: 10px 0 20px;
            }

            .product-image {
                position: relative;

                &:after {
                    content: "";
                    width: 35px;
                    background-image: url(../img/www-logo.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 35px;
                }

                &:hover img {
                    transform: scale(1.1);
                }

                img {
                    width: 100%;
                    transition: transform .5s ease;
                }
            }

            .start-parent {
                font-size: 25px;
                color: #E6E5E1;
            }

            .price-parent {
                font-family: MetricBold;
                font-size: 19px;
                margin: 20px 0;
            }

            .color-parent {
                display: flex;
                justify-content: center;
                gap: 5px;
                margin-bottom: 20px;

                .color-item {
                    width: 38px;
                    height: 38px;
                    background: #fff;
                    border: 2px solid #E4E2DE;
                    border-radius: 50%;
                    box-sizing: border-box;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .black {
                        width: calc(100% - 8px);
                        height: calc(100% - 8px);
                        background-color: #000;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}