@font-face {
    font-family: MetricBold;
    src: url(../fonts/Metric-Bold.otf);
}

@font-face {
    font-family: MetricSemiBold;
    src: url(../fonts/Metric-SemiBold.otf);
}

@font-face {
    font-family: MetricRegular;
    src: url(../fonts/Metric-Regular.otf);
}