.bold-title {
    font-family: MetricBold, Arial, sans-serif;
    font-size: 38px;
    color: #000;
    margin: 0;

    @media screen and (max-width: 576px) and (min-width: 280px) {
        font-size: 26px;
    }
}

.subtitle {
    font-family: MetricRegular, Arial, sans-serif;
    color: #000;
    margin: 5px 0;
    font-size: 26px;
    line-height: 1.3;

    @media screen and (max-width: 576px) and (min-width: 280px) {
        font-size: 22px;
        margin-top: 30px;
    }
}

.background-blue {
    background-color: #4A9BED;
}

.checked {
    color: #FCAF33 ;
}

.green-button {
    display: inline-block;
    font-family: MetricBold;
    margin-top: 35px;
    background-color: #79DB74;
    color: #000;
    height: 35px;
    line-height: 43px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 0 38px;
    transition: .3s ease-in;
    text-decoration: none !important;
    cursor: pointer;

    &:hover {
        background-color: #6A6562;
        color: #fff;
        text-decoration: none;
    }

    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none !important;
        text-decoration: none !important;
    }
}