.how-to-buy {
    text-align: center;
    margin-top: 275px;

    .companies-parent {
        margin-top: 100px;

        .comp-item {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}